{% extends "layout01.html" %}
{% block temp %}

<div class="content-section">
    <div class="row">
        <div class="mx-auto" style="width: 180pt;">
        
            <div class="form-group">
                    <form method="POST" action="{{ url_for('insert')}}">
                        <input type="text" name="Emp_Id" class="form-control" placeholder="Emp_Id" required="required" /><br><br>
                        <input type="text" name="Name" class="form-control" placeholder = "Name"required="required" /><br><br>
                        <input type="text" name="Project" class="form-control" placeholder="Project name" required="required" /><br><br>
                        <input type="text" name="Query" class="form-control" placeholder="Enter your Query" required="required" /><br><br>
                    
                        <button type="submit" class="btn btn-primary btn-block btn-block">Insert</button>
                    </form>
            </div>
            <br>
            <div class="form-group">
                <form method="POST" action="{{ url_for('view')}}">
                      
                    
                      <button type="submit" class="btn btn-primary btn-block btn-block">View</button>
                </form>
            </div>
            <br>
            <div class="form-group">
                
                <form method="POST" action="{{ url_for('find')}}">
                      
                      <input type="text" name="Emp" class="form-control" placeholder="Search employee by Emp_Id"/><br>
                      <input type="text" name="Name" class="form-control" placeholder = "Search employee by Name"  /><br>
                      
                      <button type="submit" class="btn btn-primary btn-block btn-block">Search</button>
     
                </form>
            </div>
            <div class="form-group">
                <form method="POST" action="{{ url_for('delete')}}">
                    <input type="text" name="Emp" class="form-control" placeholder="Emp_Id" required="required" /><br>
                
                
                    <button type="submit" class="btn btn-primary btn-block btn-block">Delete</button>

                </form>
            </div>
            <br>
            <div class="form-group">
                <form method="POST" action="{{ url_for('update')}}">
                    <input type="text" name="Old_Emp_Id" class="form-control" placeholder="enter old Emp_Id" required="required" /><br><br><br>
                    <input type="text" name="Emp_Id" class="form-control" placeholder="enter new Emp_Id" required="required" /><br><br>
                    <input type="text" name="Name" class="form-control" placeholder = "enter new Name" required="required" /><br><br>
                    <input type="text" name="Project" class="form-control" placeholder="enter new Project name" required="required" /><br><br>
                    <input type="text" name="Query" class="form-control" placeholder="Enter your updated Query" required="required" /><br><br>
                
                    <button type="submit" class="btn btn-primary btn-block btn-block">Update</button>
                </form>
            </div>

        </div>
        
    </div> 
    
</div>
{% endblock temp %}