
{% extends "layout01.html" %}
{% block temp %}
<!-- 
<div class="content-section">
    <div class="row">
        <div class="mx-auto" style="width: 180pt;">
        
            <div class="form-group">
                    <form method="POST" action="{{ url_for('view')}}">
                      
                    
                        <button type="submit" class="btn btn-primary btn-block btn-block">View</button>
                    
            
                        
                    </form>
            </div>
        </div>
    </div> 
    
</div> -->
{%if rm==0%}
    <h3>Removed {{rm}} row's from employee</h3>
    {% for t in tbl %}
    <div class="content-section">
        <h3>{{t[0]}} - {{t[1]}} - {{t[2]}} - {{t[3]}}</h3>
    </div>
    {% endfor %}
{%else%}
    <h3>Removed {{rm}} row's from employee</h3>
    {% for t in tbl %}
    <div class="content-section">
        <h3>{{t[0]}} - {{t[1]}} - {{t[2]}} - {{t[3]}}</h3>
    </div>
    {% endfor %}
{%endif%}

{% for d in data %}
    <div class="content-section">
        <h3>{{d[0]}} - {{d[1]}} - {{d[2]}} - {{d[3]}}</h3>


    </div>
{% endfor %}

{% for s in search %}
    <div class="content-section">
        <h3>{{s[0]}} - {{s[1]}} - {{s[2]}} - {{s[3]}}</h3>


    </div>
{% endfor %}


 
{% endblock temp %}

