{% extends "layout.html" %}
{% block temp %}
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Emp Id</th>
        <th scope="col">Name</th>
        <th scope="col">Project</th>
        <th scope="col">Query</th>
      </tr>
    </thead>
    <tbody>
{%for d in data%}
     <tr>   
         <th scope="col">{{d[0]}}</th>
         <th scope="col">{{d[1]}}</th>
         <th scope="col">{{d[2]}}</th>
         <th scope="col">{{d[3]}}</th>
{%endfor%}
     </tr>
{%endblock temp%}